@model WebApplication2.Models.credenciamento

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar Credenciamento</h2>

<h3>Você tem certeza que vai deletar?</h3>
<div>
    <hr>   
    <hr/>
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.premio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.premio)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.OK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK)
        </dd>




    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a Lista", "Index")
        </div>
    }
</div>
